 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

:root{
    --primary-bg-color: oklch(0.97 0 0);
    --primary-heading-color: oklch(28.908% 0.00003 271.152 / 0.712);
}


html, body{
    height: 100%;
    display: grid;
    justify-content: center;
    align-content:center;
}

.headings{
    font-size: 1em;
}

.sub-headings{
    font-size: 0.8em;

}

#login-heading-section{
    width:100%;
    display: grid;
    justify-items: center;
    gap: 0.5em;
}


.login-section{
    width: 20em;
    border: none;
    border-radius: 20px;
    display: grid;
    justify-items: center;
    gap: 2em;
    padding: 0 0 10px 0;
    background-color: #FBFBFB;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
}

.form-container{
    width: 100%;
    display: grid;
    border: none;
    justify-items: center;
    gap: 2em;
}

.input-container{
    display: grid;
    gap: 1em;
    padding-top: 0.2em;


}

.input-style{
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
    background-color:

}
.input-style > input{
    height: 3em;
    width: 15em;
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 0.4em;
    padding: 0 15px 0 15px;
    box-sizing: border-box;
}

.input-style > input:focus{
    border: none;
    outline: none;
}

#login-button{
    color: hsl(180, 11%, 98%);
    width: 10em;
    height: 3em;
    border: none;
    border-radius: 0.5em;
    text-align: center;
    background-color: rgba(2 ,6 ,23, 0.8);
}

#login-button:hover {
    transform: scale(1.1);
    translate: 0px -5px;
}
.options-row{
    display: flex;
    justify-content: space-between;


}



/**
    html, body{
        height: 100%;
        display: grid;
        justify-content: center;
        align-content: center;
    }

   .input-container{
          display: grid;
          justify-items: center;
          width: 100%;
          height: 100%;
          gap: 15px 15px;

      }

      .input-style{
          border-radius: 2px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 2px;
          gap: 15px;
      }

      .input-style > input{
          width: 15em;
          height: 2em;
          background-color: rgba(0, 0, 0, 0.05);
          border: none;
          border-radius: 5px;
          box-sizing: border-box;
          padding: 0px 0px 0px 10px;
          font-size: 20px;
      }

      .input-style > input:focus{
          padding: 0px 0px 0px 10px;
          color: black;
      }

      .login-section{
          width: auto;
          height: auto;
          display: grid;
          justify-content: center;
          align-content: center;
          text-align: center;
          padding: 4em;
          border-radius: 25px;
          background-color: rgba(0, 0, 0, 0.04);
          box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
      }

      .login-section  h1{
          font-size: 4em;
          margin-bottom: 0.5em;
      }

      .login-section label{
          font-size: 2em;
      }

      .login-section button{
          color: hsl(180, 11%, 98%);
          margin-top: 1.5em;
          width: 15em;
          height: 3em;
          border: none;
          border-radius: 10px;
          text-align: center;
          background-color: rgba(2 ,6 ,23, 0.8);

      }

      .login-section button:hover{
          transform: scale(1.1);
          translate: 0px -5px
       }

**/

@media screen and (max-width: 320px){

    .login-section{
        width: 100%;
    }

}





